     h1 {
        color: white;
        background-color: dodgerblue;
      }
      #block {
        color: #000000;
        background-color: lightgreen;
        border: 1px solid green;
        height: 50px;
        width: 50px;
      }

      .red {
        color: red;
      }

      .big {
        font-size: 45px;
      }

      .container * {
        display: block;
        border: 1px solid green;
        background-color: papayawhip;
        padding: 5px;
        margin: 15px;
      }

      .target{
        background-color: lightcoral;
        color: white;
      }

      .target, div{
        color: black;
        border: 2px solid black;
        padding: 20px;

      }